.notifications-container {
    background-color: rgb(208, 191, 224);
    margin: 30px;
    padding: 10px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.notification-card {
    background-color: #f9f9f9;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}